.menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #eee;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 10px;
    width: 120px;
    list-style: none;
    margin: 0;
    color: #000;
    border-radius: 12px;
}