.visitor {
    &-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        padding: 10px;
        background-color: #fff;
        border-radius: 16px;
    }

    &-initial {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px; 
        height: 40px; 
        border-radius: 50%; 
        background-color: #EADDFF; 
        color: #21005D;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 12px;
    }

    &-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    &-remove-button {
        margin-left: auto;
        color: #21005D;
        background-color: #fff;
        border: 0;
        font-size: 18px;
    }
}

.register-visitors__container{
    background-color: #f5f5f5;
    box-shadow: rgba(196, 198, 207, 0.8) 0px 1px 2px;
    padding: 20px;
    border-radius: 8px;
}