@use './normalize/index.scss' as NormalizeSCSS;
@use './Layout/index.scss' as Layout;
@use './Login/index.scss' as Login;
@use './utilities/index.scss' as Utilities;
@use './typography/index.scss' as Typography;
@use './elements/index.scss' as Elements;
@use './home/index.scss' as Home;
@use './accountstatement/index.scss' as accountstatement;
@use './menu-dropdown/index.scss' as MenuDropdown;
@use './visitors/index.scss' as Visitors;

html,
body {
  margin: 0;
  width: 100%;
  color: white;
  overflow-x: hidden;
}

input {
  color :black;
}

html,
body,
#root {
  height: 100%;
  background-color: #272829;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
